<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="ConnStr" value="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=DBColomboCityInstitute;User ID=ramod; password=123 " />
    <!--<add key="ConnStr" value="Data Source=NGHQ-IT-013;Initial Catalog=DBColomboCityInstitute;User ID=sa; " />-->
  </appSettings>
</configuration>